# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
mlops-framework/venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# MLflow artifacts
data/mlruns/

# Postgres volume
data/postgres/

# IDE / Editor settings
.idea/
.vscode/

mlruns_test/

venv/

.coverage